<?xml version="1.0"?>
<DeviceCfg xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocalPort>0</LocalPort>
  <RemoteIp>192.168.123.201</RemoteIp>
  <RemotePort>5000</RemotePort>
  <DeviceId>0</DeviceId>
  <DeviceName>test201.vibartion</DeviceName>
  <TxMode>Command</TxMode>
  <IsActivelyConnect>true</IsActivelyConnect>
  <IsActivelyTx>true</IsActivelyTx>
  <TxInterval>2000</TxInterval>
  <TimeoutResponse>5000</TimeoutResponse>
  <SignalCfgList>
    <SignalCfg>
      <DeviceSvid>0</DeviceSvid>
      <CalibrateSysScale>1.4305115598745084E-06</CalibrateSysScale>
      <CalibrateSysOffset>-12</CalibrateSysOffset>
      <CalibrateUserScale>1</CalibrateUserScale>
      <CalibrateUserOffset>0</CalibrateUserOffset>
      <StorageDirectory>signals/toolid/svid</StorageDirectory>
    </SignalCfg>
  </SignalCfgList>
</DeviceCfg>