<?xml version="1.0"?>
<AlarmCfg xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DevicePort>0</DevicePort>
  <DeviceName>simulate.sensing</DeviceName>
  <DeviceSvid>0</DeviceSvid>
  <Max>0.3</Max>
  <Min>-0.3</Min>
  <PassFilter>None</PassFilter>
  <SampleRate>512</SampleRate>
  <PassFilter_CutoffHigh>250</PassFilter_CutoffHigh>
  <PassFilter_CutoffLow>5</PassFilter_CutoffLow>
  <AlarmIntervalSec>60</AlarmIntervalSec>
</AlarmCfg>