
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h3>Automation</h3>
        <p></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <a class="btn btn-secondary" href="~/Home/SignalViewer" role="button">
            <h4>Signal Viewer&raquo;</h4>
            <img src="~/Content/signalviewer.png" class="enterimg"/>
        </a>
    </div>

</div>
