<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/c3.v0.4/c3.css" rel="stylesheet">
    <link href="~/Scripts/tether.v1.3/css/tether.css" rel="stylesheet">
    <link href="~/Scripts/bootstrap.v3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/bootstrap-datetimepicker.v4.15/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">


    <script src="~/Scripts/jquery.v2.2/jquery-2.2.4.js"></script>
    @{/*required: jquery*/}
    <script src="~/Scripts/d3.v3.5/d3.js"></script>
    @{/*required: d3*/}
    <script src="~/Scripts/c3.v0.4/c3.js"></script>
    <script src="~/Scripts/tether.v1.3/js/tether.js"></script>
    @{/*required: tether*/}
    <script src="~/Scripts/bootstrap.v3.3/js/bootstrap.js"></script>
    <script src="~/Scripts/moment.v2.18/moment.js"></script>
    @{/*required: bootstrap, moment*/}
    <script src="~/Scripts/bootstrap-datetimepicker.v4.15/bootstrap-datetimepicker.js"></script>
    @{/*required: jquery*/}
    <script src="~/Scripts/angular.1.6/angular.js"></script>
    <script src="~/Scripts/main.js"></script>


</head>
<body >


    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MV Platform</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/IssueRegister">Issue Register</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ImgProc/">Image Process</a></li>
                            <li><a href="/PartsInsp/">Parts Inspection</a></li>
                            <li><a href="/Daas/">Deep Learning</a></li>
                            <li><a href="/Aaas/">Automation</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->



    <div class="container">
        @RenderBody()




    </div> <!-- /container -->
    <hr>

    <footer>
        <p>&copy; Company 2017</p>
    </footer>


</body>
</html>
